@import "variables";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $light-grey;
  font-family: "Roboto", sans-serif;
  padding: 2rem;
}

.container {
  position: absolute;
  top: 2rem;
  left: 15rem;
  right: 2rem;
  height: 11rem;
  display: flex;
  align-items: center;
  // background-color: red;
}

.logo {
  position: fixed;
  top: 4rem;
  left: 4rem;
  width: 11rem;
  border: 3px solid $primary-color;
  border-radius: 1rem;
  background-color: $light-grey;
  z-index: 1000;
  transition: opacity .2s;
}

.subtitle {
  font-size: 2rem;
  z-index: 100;
}

.header,
.main,
.second {
  min-height: 90vh;
  width: 100wv;
  position: relative;
  overflow: hidden;
}
.header {
  background-color: $primary-color;
  color: $light-grey;
  border-radius: 1rem 1rem 0 0;
}

.main {
  background-color: $light-grey;
  color: $primary-color;
  padding: 5rem 0;
}
.second {
  background-color: $primary-color;
  color: $light-grey;
}

@import "skills";

@media (min-width: 1000px) {
  .logo {
    width: 15rem;
  }
  .container {
    left: 20rem;
    height: 15rem;
  }
  .subtitle {
    font-size: 2.8rem;
  }

  .main {
    margin-left: 20rem;
  }
}

@media (max-width: 350px) {
  .logo {
    width: 10rem;
  }
  .container {
    left: 13rem;
    height: 10rem;
  }
  .subtitle {
    font-size: 1.8rem;
  }
}
